.gradient-background {
    background: linear-gradient(300deg, #3dac1b, #03887d , #1f7f9f, #05536c);
    background-size: 180% 180%;
    animation: gradient-animation 5s ease infinite;
  }
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  




  #title {
    background-color: #05536c;
    color: white;
    padding: 50px 0;
    text-align: center;
}

#title h1 {
    font-size: 4em;
    font-family: 'Bungee Shade', cursive;
}

#title p {
    font-size: 1.5em;
}
  #images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    background-color: #f0f0f0;
    font-family: 'Montserrat', sans-serif;
}
.image-container {
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 700px;
}
.image-container img {
    width: 100%;
    height: auto;
}
.header {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.header h1 {
    font-size: 2.5em;
    font-weight: 700;
}
.header p {
    font-size: 1.2em;
    font-weight: 400;
}

#seniors {
    background-color: #05536c;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    font-family: 'Montserrat', sans-serif;
}

#seniors h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

#seniors ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#seniors ul li {
    margin: 10px;
    font-size: 1.2em;
}